rule_files:
  - 'alert.rules'

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: node
    scrape_interval: 5s
    static_configs:
    - targets: ['exporter-srv:9100', '{{ node_ip }}:31500']

  - job_name: k8s
    scrape_interval: 5s
    static_configs:
    - targets: ['{{ node_ip }}:30100']

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - http://{{ node_ip }}:30000
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115
